<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     Question Set ID<br/>
     <%= f.collection_select( :question_set_id, QuestionSet.order(:id), :id, :id, include_blank: true ) %>
  </div>

  <div class="field">
     Question Text <br />
     <%= f.text_field :questionText %>
  </div>
  <div class="field">
    Order <br />
     <%= f.text_field :orderingcolumn %>
  </div>    
  <div class="field">
     Answer Options <br />
     <%= f.text_field :answerOptions %>
  </div>
  <div class="field">
     Answer Type <br/>
     <%= f.select :answerType, options_for_select(["", "TextArea", "Text", "Drop Down", "Multi-Select", "Date Dial", "Number"], @question.answerType) %>
  </div>
  <div class="field">
     Salesforce Field Name <br/>
     <%= f.select :fieldname, options_for_select(["", "Category__C", "Product__C", "Type__C", "Comments__C", "Color__C", "Product_Details__C", "Painted__C", "Length__C", "Dimensions__C", "Quantity__C", "Reason_Complaint__C", "Date_Dial__C", "Width__C", "Fire_Rating__C", "Modular__C", "Affected_Directions__C", "Serial_Number__C"], @question.fieldname) %>
  </div>
  <div class="field">
     Image Path <br/>
     <%= f.text_field :image_path %>
  </div>
  <div class="field">
    Required? <br/>
    <%= f.check_box :required  %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
