<%= form_for(@wizard_option) do |f| %>
  <% if @wizard_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wizard_option.errors.count, "error") %> prohibited this wizard_option from being saved:</h2>

      <ul>
      <% @wizard_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     <%= "Selection ID" %> <br />
     <%= @wizard_option.id %>
  </div>
  <div class="field">
     <%= f.label :title %> <br />
     <%= f.text_field :title %>
  </div>
  <div class="field">
     <%= "Question Set ID" %> <br/>
     <%= f.collection_select( :questionSet_id, QuestionSet.order(:id), :id, :id, include_blank: true ) %>
  </div>
  <div class="field">
     <%=  "Next Selection ID" %> <br />
     <%= f.collection_select( :next_wizard_id, Wizard.order(:id), :id, :id, include_blank: true ) %>
  </div>
  <div class="field">
     <%= f.label :image_path %> <br/>
     <%= f.text_field :image_path %>
  </div>
  <div class="field">
     Salesforce Field Name <br/>
     <%= f.select :fieldname, options_for_select(["", "Comments__C", "Color__C", "Product_Details__C", "Product__C", "Type__C", "Painted__C", "Length__C", "Dimensions__C", "Quantity__C", "Reason_Complaint__C", "Date_Dial__C", "Width__C", "Fire_Rating__C", "Modular__C", "Affected_Directions__C", "Serial_Number__C"], @wizard_option.fieldname) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
