<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ExampleURL %><br />
    <%= f.text_field :ExampleURL %>
  </div>
  <div class="field">
    <%= f.label :DisplayText %><br />
    <%= f.text_field :DisplayText %>
  </div>
  <div class="field">
    Brand <br />
    <%= collection_select(:image, :brand_id, Brand.all, :id, :name, :include_blank => true, :selected => @image.brand_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
