<h1>
Images
<% if @brand.present? %>
  For <%= @brand.name %>
<%end %>
</h1>

<table>
  <tr>
    <th>Example Image URL</th>
    <th>Display Text</th>
    <th>Brand</th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.ExampleURL %></td>
    <td><%= image.DisplayText %></td>
    <td><%= image.brand.name unless image.brand.nil? %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% if @brand.present? %>
   <%= link_to 'New Image', new_image_path(brand_id: @brand.id) %>
<% else %>
   <%= link_to 'New Image', new_image_path %>
<% end %>
